# Visual Studio
.vs/
*.vsidx
*.user
*.suo
*.userosscache
*.sln.docstates
.vs*

#claude code
.claude

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
build*

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
!CMakeLists.txt

#slang
slang.spv

#docs/blog
docs/blog